/node_modules
/public/hot
/public/storage
/public/css
/public/js
/storage/*.key
/vendor/*
!/vendor/guesl

!/vendor/laravel
/vendor/laravel/*
!/vendor/laravel/framework
/vendor/laravel/framework/*
!/vendor/laravel/framework/src
/vendor/laravel/framework/src/*
!/vendor/laravel/framework/src/Illuminate
/vendor/laravel/framework/src/Illuminate/*
!/vendor/laravel/framework/src/Illuminate/Auth
/vendor/laravel/framework/src/Illuminate/Auth/*
!/vendor/laravel/framework/src/Illuminate/Auth/Middleware
/vendor/laravel/framework/src/Illuminate/Auth/Middleware/*
!/vendor/laravel/framework/src/Illuminate/Auth/Middleware/Authenticate.php
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
public/pdf/
public/training-assets/
css/
mix-manifest.json
storage/ach_files/
