$color-primary: #f96332;
$color-primary-border: darken($color-primary, 10%);
$color-primary-hover: #fa7a50;
$color-primary-active: #fa7a50;

$color-secondary: #0083c4;

$color-white: #fff;
$color-dark: #39424d;
$color-gray: lighten($color-dark, 50%);

// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// User Defined
$blue-bg: #4c8ccf;
$lightblue-bg: #80addc;
$green-bg: #99c43d;
$darkbrown-bg: #59514D;